<div class="button" data-page="main"><p>Powrót</p></div>
<div class="button" data-page="osoby"><p>Wyświetl</p></div>
<div class="button" data-page="addosoby""><p>Dodaj</p></div>
<div class="button" data-page="remosoby"><p>Usuń</p></div>
<div class="button" data-page="printosoby"><p>Drukuj</p></div>