<form>
<div><p>Imię</p><input type="text" name="name"/></div>
<div><p>Nazwisko</p><input type="text" name="surname"/></div>
<div><p>Adres email</p><input type="text" name="email"/></div>
<div><p>Telefon</p><input type="text" name="phone"/></div>
<div><input type="submit" value="Dodaj użytkownika"/></div>
</form>
