<table>
	<thead>
		<tr>
			<th><input name="select" value="selectAll"/></th>
			<th>LP</th>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th>Adres email</th>
			<th>Telefon</th>
		</tr>
	</thead>
	<tbody id="userTableBody">
	
	</tbody>
</table>